footer {
    font-family: bello-pro, serif;
    font-size: 20px;
    background-color: purple;
    color: white;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}