{#----------------#}
{# templates/list.html.twig #}
{#----------------#}

{% extends '_base.html.twig' %}

{% block title %}home{% endblock %}

{% block main %}



    <p>
        Welcome To student share
    </p>

{% endblock %}
